td {
    border: 2px;
    border-style: solid;
}

.tanulo {
    background-color: rgb(183, 200, 231);
    width: 100px;
    height: 100px;
    text-align: center;
}

.tolto {
    width: 100px;
    height: 50px;
    border: 0px;
}

.tanar {
    width: 150px;
    text-align: center;
    background-color: rgb(135, 192, 142);
}

#terem {
    padding: 10px;
    padding-top: 50px;
    border: 5px;
    border-style: dashed;

}